* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #cfb9b9, #b52020);
    min-height: 100vh;
    padding: 2rem;
}

.card {
    width: 40rem;
    min-height: 28rem;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.25);
    border-radius: 18px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.35);
}

.card .input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.card .input-group span {
    font-size: 20px;
    font-weight: 600;
    color: #944a0a;
}

.card .input-group input {
    border: none;
    outline: none;
    padding: 8px 16px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.4);
    color: #333;
    font-size: 18px;
    width: 150px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.card .input-group input:focus {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    transform: scale(1.01);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.switch {
    display: flex;
    gap: 15px;
}

.switch button{
     padding: 2px 8px;
    margin-left: 20px;
    border: none;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(17, 16, 16, 0.8);
    background: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.switch button:hover{
    transform: scale(1.05);
     box-shadow: 0px 0px 10px rgba(59, 57, 57, 0.8);
}
